<?xml version="1.0"?>
<configuration>


  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MediaFrame.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MediaFrame.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <MediaFrame.My.MySettings>
      <setting name="Server" serializeAs="String">
        <value>Server</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>DB</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>User</value>
      </setting>
      <setting name="AppColor" serializeAs="String">
        <value>Caramel</value>
      </setting>
      <setting name="ServerList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="DatabaseList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="UsernameList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="LoginInfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UICulture" serializeAs="String">
        <value>el</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value>el-GR</value>
      </setting>
      <setting name="LayoutAlignMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RunMode" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="RegisterDlls" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Caption" serializeAs="String">
        <value>MediaFrame</value>
      </setting>
      <setting name="ShowCaptionMainForm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCaptionLogin" serializeAs="String">
        <value>True</value>
      </setting>
    </MediaFrame.My.MySettings>
  </userSettings>

  <system.web>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
  </system.web>

  <system.webServer>
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.12.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
  </system.webServer>
  <applicationSettings>
    <MediaFrame.My.MySettings>
      <setting name="DeviceType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="InputFile" serializeAs="String">
        <value>\Tmp\OutBeforeSign.txt</value>
      </setting>
      <setting name="OutputFile" serializeAs="String">
        <value>\Tmp\OutAfterSign.txt</value>
      </setting>
    </MediaFrame.My.MySettings>
  </applicationSettings>
  
  
  <!--
   Ebgala ayto kai ebala to apo katw giati den mou etrexe tis sp apo tin runsp kai to vrika se ena forum
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  -->
 
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>

</configuration>
